/* --- BACKGROUND LINEAR GRADIENT --- */

body {
	background: #ec008c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ec008c, #fc6767);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* 
   to right
   to bottom
   to left
   to top
*/
